<mat-card>
  <mat-card-title>{{ "Register" | translate }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <p>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>{{ "Username" | translate }}</mat-label>
          <input type="text" matInput formControlName="username">
          <mat-error *ngIf="usernameControl?.touched && usernameControl?.hasError('required')">
            {{ "Username is required" | translate }}</mat-error>
          <mat-error *ngIf="usernameControl?.hasError('minlength')">
            {{ "Username must be at least 4 characters long" | translate }}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>{{ "Firstname" | translate }}</mat-label>
          <input type="text" matInput formControlName="firstname">
          <!-- Here we can display error messages/hints for the user, if one of the Validators adds an error to the email 
             with the .touched check we only display the hints if the input was touched by the users -->
          <mat-error *ngIf="firstnameControl?.touched && firstnameControl?.hasError('required')">
            {{ "Firstname is required" | translate }}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>{{ "Lastname" | translate }}</mat-label>
          <input type="text" matInput formControlName="lastname">
          <!-- Here we can display error messages/hints for the user, if one of the Validators adds an error to the email 
             with the .touched check we only display the hints if the input was touched by the users -->
          <mat-error *ngIf="lastnameControl?.touched && lastnameControl?.hasError('required')">
            {{ "Lastname is required" | translate }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>{{ "Password" | translate }}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button class="password-hide" type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordControl?.touched && passwordControl?.hasError('required')">
            {{ "Password is required" | translate }}</mat-error>
          <mat-error *ngIf="passwordControl?.errors?.['passwordStrength']">
            {{"Password must be at least 8 characters and include a symbol" | translate }}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>{{ "Confirm Password" | translate }}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
          <button class="password-hide" type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error
            *ngIf="confirmPasswordControl?.touched && confirmPasswordControl?.hasError('required') && !registerForm?.hasError('passwordsMismatch') ">
            {{ "Confirm Password is required" | translate }}</mat-error>
          <mat-error *ngIf="registerForm?.hasError('passwordsMismatch') && this.confirmPasswordControl.dirty">
            {{ "Passwords doesn't match" | translate }}
          </mat-error>
        </mat-form-field>
      </p>
      <!-- Button is disabled(not clickable), if our RegisterForm contains Validation Errors -->
      <button type="submit" color="primary" mat-raised-button [disabled]="!registerForm.valid"> {{ "Register" |
        translate }}
      </button>
      <div class="form-footer">
        <span>{{ "Already registered?" | translate }}</span>&nbsp;
        <a [routerLink]="['../login']"> {{ "Login here" | translate }}
        </a>
      </div>
    </form>
  </mat-card-content>
</mat-card>